<div class="form-group nested-fields">
  <%= f.label :name %>
  <%= collection_select(:vacc, :name, Vaccination.all, :id, :title, {}, { :multiple => false }) %>
  <%= f.label :received %>
  <%= f.date_field :rec %>
  <%= f.label :expires %>
  <%= f.date_field :exp %>
  <%= link_to_remove_association 'Remove Vaccination', f %>
</div>