<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @user_form.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_form.user.first_name %>
</p>

<div>
  <% @user_form.vaccs.each do |v| %>
    <p><%= v.name %></p>
    <p><%= v.rec %></p>
    <p><%= v.exp %></p>
  <% end %>
</div>

<div>
  <% @user_form.form_images.each do |fi| %>
    <%= image_tag fi.main_image, width: '100%' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_form_path(@user_form) %> |
<%= link_to 'Back', user_forms_path %>
