<h2 class="top-marg"><%= @user_form.user.name %>:</h2>

<div class="top-marg">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Vaccination</th>
        <th>Date Received</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      <% @user_form.vaccs.each do |v| %>
        <tr>
          <td><%= v.name %></td>
          <td><%= v.rec %></td>
          <td><%= v.exp %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="top-marg-large">
  <h4>Images:</h4>
  <div class="text-center">
    <% @user_form.form_images.each do |fi| %>
      <div class="top-marg">
        <%= image_tag fi.main_image %>
      </div>
    <% end %>
  </div>
</div>

<div class="top-marg">
  <%= link_to 'Edit', edit_user_form_path(@user_form), class: 'btn' %> |
  <%= link_to 'Back', user_forms_path, class: 'btn' %> |
  <%= link_to 'Delete', @user_form, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn' %>
</div>
